<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="section">
        <div class="container" id="calendar_header">
            <%=username%>
        </div>
    </div>
    <div class="section">
        <div class="container" id="calendar_calendar">
            캘린더
        </div>
    </div>
    <div class="section">
        <div class="container" id="calendar_date">
            05.04(금)
        </div>
    </div>
    <div class="section">
        <div class="container" id="calendar_button">
            <div class="calendar_button_info">
                생리시작
            </div>
            <div class="calendar_button_info">
                생리종료
            </div>
            <div class="calendar_button_info">
                피임약
            </div>
        </div>
    </div>
    <form method="post" name="dataForm">
        <div class="section">
            <div id ="nav" class="container">
                <div id="home" onclick="home()"class="nav_centent">
                    <img src="icon/home.png" alt="" style="height:5vh; width:5vh; "/> 
                    홈
                </div>
                <div id="calender" onclick="calendar()" class="nav_centent">
                    <img src="icon/calendar.png" alt="" style="height:5vh; width:5vh; "/> 
                    캘린더
                </div>
                <div id="cummunity" onclick="cummunity()" class="nav_centent">
                    <img src="icon/community.png" alt="" style="height:5vh; width:5vh;"/>
                    커뮤니티
                </div>
                <div id="hospital" onclick="hospital()" class="nav_centent">
                    <img src="icon/location.png" alt="" style="height:5vh; width:5vh; "/>
                    병원찾기
                </div>
            </div>
        </div>
    </form>
</body>
<script>
    function home(){
         document.dataForm.action="/"
         document.dataForm.submit()
    }
    function cummunity(){
         document.dataForm.action="/cummunity"
         document.dataForm.submit()
    }
    function calendar(){
        document.dataForm.action="/calendar"
        document.dataForm.submit()
    }
    function hospital(){
        document.dataForm.action="/hospital"
        document.dataForm.submit()
    }
</script>
</html>