<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="section">
        <div class="container" id="calendar_header">
            <%=username%>
        </div>
    </div>
    <div class="section">
        <div class="container" id="calendar_calendar">
            캘린더
        </div>
    </div>
    <div class="section">
        <div class="container" id="calendar_date">
            05.04(금)
        </div>
    </div>
    <div class="section">
        <div class="container" id="calendar_button">
            <div class="calendar_button_info">
                생리시작
            </div>
            <div class="calendar_button_info">
                생리종료
            </div>
            <div class="calendar_button_info">
                피임약
            </div>
        </div>
    </div>
</body>
</html>