<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="total">
        <div class="section">
            <div id="cummunity_info_bar" class="container">
                <div class="cummunity_info_content1">
                    ←
                </div>
                <div class="cummunity_info_content2">
                    제목
                </div>
                <div class="cummunity_info_content3">
                    ♡
                </div>
            </div>
        </div>
        <div class="section">
            <div id="cummunity_info_likedate" class="container">
                <div class="cummunity_info_half">
                    좋아요 : 100
                </div>
                <div class="cummunity_info_half">
                    작성일: 2018.05.18
                </div>
            </div>
        </div>
        <div class="section">
            <div id="cummunity_info_content" class="container">
                내용
            </div>
        </div>
        <div class="section">
            <div id="cummunity_info_comment" class="container">
                댓글
            </div>
        </div>
    </div>
</body>
</html>