<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="section">
        <div class="container" id="hospital_header">
            <%=username%>
        </div>
    </div>
    <div class="section">
        <div class="container" id="map">
            
        </div>
    </div>
    <div class="section">
        <div class="container" id="hospital_confirm">
            현재 위치에서 가까운 병원
        </div>
    </div>
    <div class="section">
        <div class="container" id="">
            <div class="hospital_info" id="">
                동래 산부인과
            </div>
            <div class="hospital_info" id="">
                안락 산부인과
            </div>
            <div class="hospital_info" id="">
                낙민 산부인과
            </div>
        </div>
    </div>
    <form method="post" name="dataForm">
        <div class="section">
            <div id ="nav" class="container">
                <div id="home" onclick="home()"class="nav_centent">
                    <img src="icon/home.png" alt="" style="height:5vh; width:5vh; "/> 
                    홈
                </div>
                <div id="calender" onclick="calendar()" class="nav_centent">
                    <img src="icon/calendar.png" alt="" style="height:5vh; width:5vh; "/> 
                    캘린더
                </div>
                <div id="cummunity" onclick="cummunity()" class="nav_centent">
                    <img src="icon/community.png" alt="" style="height:5vh; width:5vh;"/>
                    커뮤니티
                </div>
                <div id="hospital" onclick="hospital()" class="nav_centent">
                    <img src="icon/location.png" alt="" style="height:5vh; width:5vh; "/>
                    병원찾기
                </div>
            </div>
        </div>
    </form>
<script src="js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyw8_9FOYCKjFLnjbxhsrh0ZfQreqVIu0&callback=initMap&libraries=places,visualization" async defer></script>
</body>
<script>
    function home(){
         document.dataForm.action="/"
         document.dataForm.submit()
    }
    function cummunity(){
         document.dataForm.action="/cummunity"
         document.dataForm.submit()
    }
    function calendar(){
        document.dataForm.action="/calendar"
        document.dataForm.submit()
    }
    function hospital(){
        document.dataForm.action="/hospital"
        document.dataForm.submit()
    }
</script>
</html>